@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');



* {
  margin: 0;
  padding: 0;
}

.brand img {
  width: 44px;
  padding: 0px 8px;
}

.container {
  font-family: "varela Round", sans-serif;
  width: 70%;
  min-height: 70vh;
}

.songItem {
  min-height: 50px;
}

.songItem img {
  width: 43px;
  height: 43px;
}

#myProgressBar {
  width: 90%;
  cursor: pointer;
}

.timestamp i,
.icons i, .cursor-pointer {
  cursor: pointer;
}

.songInfo {
  font-family: "varela Round", sans-serif;
}

.songInfo img {
  width: 42px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

@media (max-width: 600px) {
  .container {
    border: #dc3545 !important;
    width: 98% !important;
    padding: 0px !important;
  }
  .songItem {
    margin: 10px 6px !important;
  }

  .songInfo {
    display: none;
    opacity: 0;
  }
}
#volumeControl {
  width: 70%;
  max-width: 100px;
}
.SongImage {
  animation: rotate 4s linear infinite;
}
.songOn {
  width: 46px;
  height: 46px;

  left: 6px;
  top: -1px;

  border-top: 3px solid #198754;
  border-right: 3px solid #6610f2;
  border-bottom: 3px solid #dc3545;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: rotate 2.5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
